/*
	overrides for bootstrap and singt branding
*/

.bg-dark {
	/*background-color: #e45300!important;*/
	background-color:#17a2b8!important;
}

.navbar-brand {
	display:inline-block;
	width:80px;
	height:34px;
	text-indent: -999px;
	background: url(../img/singt_logo.png) center center no-repeat;
}

.form-control, .input-group {
	max-width: 400px;
}
.btn-primary {
    background-color: #04abc6 ! important;
    border-color: #04abc6 ! important;
}
.btn-primary:hover {
    background-color: #038fa5 ! important;
    border-color: #038fa5 ! important;
}
.text-muted {
	color: rgba(0,0,0,0.25) ! important;
}
.alert-info .text-muted {
	color: rgba(12,84,96,0.5) ! important;
}






/*
	custom classes
*/
.page {
	display:none;
}
.page.show {
	display:block;
}
hr {
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	margin: 30px 0;
}

hr.thin {
	margin: 5px 0;
}

.text-sm {
	font-size:0.83em;
}






/* animation for pulsing recording badge */
.pulse {
	animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-fill-mode: both;
	animation-name: pulse;
}
@keyframes pulse {
	0% { transform: scale(0.5); }
	50% { transform: scale(1); }
	100% { transform: scale(0.5); }
}